In [1]:
import pandas as pd
import numpy as np

import matplotlib.pylab as plt
import seaborn as sns

sns.set_style("whitegrid")
sns.set_palette(sns.color_palette("vlag"))

In [2]:
from datetime import datetime, timedelta

# BDay is business day, not birthday...
from pandas.tseries.offsets import BDay
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay

US_BUSINESS_DAY = CustomBusinessDay(calendar=USFederalHolidayCalendar())

In [3]:
import yfinance as yf

# set the end date to today
end_date = datetime.today()
# set the start date to 5 years ago
start_date = end_date - timedelta(days=5 * 365)
print(start_date)

2019-07-05 11:10:23.411104

In [6]:
# list of tickers
tickers = [
    "QQQ",  # Invesco QQQ Trust Nasdaq 100
    "SHV",  # iShares Short Treasury Bond ETF
    "TLT",  # iShares 20+ Year Treasury Bond ETF
    "DIS",  # Disney
    'PFE',  # Phizer
    'T',    # AT&T
    'GSK',
    'LVS',  # Las Vegas Sand Corp
    'OXY',  # Occidental Petroleum Corporation
    'MMM',  # 3M
    'KO',   # Coca-Cola
    'KHC',  # Kraft Heinz

]
market = ["^GSPC"]

close_df = pd.DataFrame()
close_df = yf.download(tickers, start=start_date, end=end_date)["Close"]

[*********************100%%**********************]  11 of 11 completed

In [8]:
close_df.tail()

Ticker,D,DIS,GSK,KO,LVS,MMM,PFE,QQQ,SHV,T,TLT
Date,,,,,,,,,,,
2024-06-26,49.250000,102.180000,38.869999,64.050003,43.810001,101.449997,27.420000,480.369995,110.419998,18.760000,93.150002
2024-06-27,49.610001,102.169998,38.639999,63.910000,44.139999,103.169998,27.799999,481.609985,110.449997,18.750000,93.519997
2024-06-28,49.000000,99.290001,38.500000,63.650002,44.250000,102.190002,27.980000,479.109985,110.500000,19.110001,91.779999
2024-07-01,48.009998,98.040001,38.380001,63.279999,42.880001,100.610001,28.219999,481.920013,110.050003,18.980000,89.910004
2024-07-02,48.540001,97.989998,38.209999,63.150002,42.310001,101.620003,27.830000,486.980011,110.070000,18.820000,90.610001

#### Nasdaq 100 composition

In [60]:
import requests

headers = {
    "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/92.0.4515.107 Safari/537.36"
}
res = requests.get(
    "https://api.nasdaq.com/api/quote/list-type/nasdaq100", headers=headers
)
print(res.status_code)
main_data = res.json()["data"]["data"]["rows"]

200

In [81]:
ndx_comp = pd.DataFrame(main_data)
ndx_comp["marketCap"] = (
    ndx_comp["marketCap"].str.replace(",", "").astype("float") / 10**9
)
ndx_comp.sort_values("marketCap", ascending=False)

# ndx_comp[ndx_comp["symbol"] == "TSLA"]

,symbol,sector,companyName,marketCap,lastSalePrice,netChange,percentageChange,deltaIndicator
13,MSFT,,Microsoft Corporation Common Stock,3321.869075,$446.95,$5.90,-1.3%,down
0,AAPL,,Apple Inc. Common Stock,3229.664351,$210.62,$3.48,-1.63%,down
39,NVDA,,NVIDIA Corporation Common Stock,3038.879167,$123.54,$0.45,-0.36%,down
80,GOOG,,Alphabet Inc. Class C Capital Stock,2266.704360,$183.42,$3.44,-1.84%,down
63,GOOGL,,Alphabet Inc. Class A Common Stock,2251.009700,$182.15,$3.26,-1.76%,down
...,...,...,...,...,...,...,...,...
87,MDB,,"MongoDB, Inc. Class A Common Stock",18.334740,$249.96,$5.81,+2.38%,up
97,WBD,,"Warner Bros. Discovery, Inc. Series A Common S...",18.230332,$7.44,$0.09,+1.22%,up
44,ILMN,,"Illumina, Inc. Common Stock",16.627734,$104.38,$2.08,-1.95%,down
60,WBA,,"Walgreens Boots Alliance, Inc. Common Stock",10.434518,$12.095,$0.095,-0.78%,down
101,GRAL,,"GRAIL, Inc. Common Stock",0.477279,$15.37,$0.21,+1.39%,up

#### interest rates

In [55]:
%reload_ext autoreload
%autoreload 2

from interest_rate_fetcher import get_interest_rate

daily_spot_rate = get_interest_rate(sample_start=start_date, maturity="DGS6MO")

In [54]:
daily_spot_rate.head()

               6.0
2019-07-01  0.0210
2019-07-02  0.0209
2019-07-03  0.0208
2019-07-05  0.0214
2019-07-08  0.0214

### Modern Portfolio Theory (MPT)